<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="vvvv.org" value="https://teamcity.vvvv.org/guestAuth/app/nuget/feed/_Root/default/v3/index.json" />
    <!--<add key="LOCAL" value="C:\Users\elias\source\repos\vvvv\bin\win-x64\packages" />-->
  </packageSources>
</configuration>